body  {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
}

@font-face {
    font-family:'Bitter' ;
    src: url(/fonts/Bitter-VariableFont_wght.ttf);
}
@font-face {
    font-family:'Play' ;
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
.blockquote  {
    font-family:'Bitter' ;
    font-weight: 400;
    font-size: 26px;
}
.section-mod  {
    font-family: 'Play';
    font-weight: 600;
}
.section-modstudio  {
    font-family: 'Play';
    font-weight: 500;
}
h2  {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}
.section-nav  {
    font-weight: 500;
    font-size: 24px;
}
.title-katename  {
    font-weight: 500;
    font-size: 86px;
}
.list-ofprossions{
    font-size: 500;
    font-size: 18px;
}
.content  {
    font-weight: 700;
    font-size: 16px;
}
.testimonials-text  {
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 32px;
}
.strengths-section {
    font-family: 'Play';
    font-weight: 500;
    font-size: 87;
}
.strengths-list  {
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 34px;
}
.telephone-addres  {
    font-weight: 400;
    font-size: 16px;
}
.productmod-content  {
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
}
.modmedia-content  {
    font-weight: 400;
    font-size: 16px;

}